{% load static %}

  <!-- Song List -->
  <div class="list-group list-group-flush">

    {% for cancion in canciones %}
    <div class="row list-group-item align-items-center text-start" 
         onmouseover="showPlayButton({{ cancion.id }})" 
         onmouseout="hidePlayButton({{ cancion.id }})">

      <div class="col-3 col-lg-1">
        {% if cancion.album and cancion.album.portada %}
          <img src="{{ cancion.album.portada.url }}" class="img-fluid rounded-2" alt="{{ cancion.album.titulo }}">
        {% else %}
          <img src="{% static 'assets/img/default_album.png' %}" class="img-fluid rounded-2" alt="Imagen predeterminada">
        {% endif %}
      </div>
      
      <div class="col-7 col-lg-3">
        <div class="fw-bold">{{ cancion.titulo }}</div>
        <div>{{ cancion.artista.nombre }}</div>
      </div>
      
      <div class="col-lg-2 d-none d-lg-block">{{ cancion.categoria}}</div>
      
      <div class="col-lg-2 d-none d-lg-block">
        {% if cancion.album %}
          {{ cancion.album.titulo }}
        {% else %}
          Sin álbum
        {% endif %}
      </div>
      
      <div class="col-lg-3 d-none d-lg-flex justify-content-end">
        <button class="btn play-btn" id="play-btn-{{ cancion.id }}" 
                onclick="togglePlayPause({{ cancion.id }}, '{{ cancion.archivo_audio.url }}')">
          <img src="{% static 'assets/img/icons/play.svg' %}" id="icon-{{ cancion.id }}" class="song-icon" alt="Play">
        </button>
      </div>
      
      <div class="col-2 d-block d-lg-none text-end">
        <button class="btn">
          <img src="{% static 'assets/img/icons/threedot_w.svg' %}" class="song-icon" alt="Menu">
        </button>
      </div>
    </div>
    {% endfor %}
  </div>