{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Encabezado principal -->
<div class="position-relative p-3 p-md-5 m-md-3 text-center">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">La Kultural</h1>
    <p class="lead font-weight-normal">
      Benvingut/da a l'associació que promou la música underground i els ritmes alternatius.
    </p>
    <a class="btn btn-outline-secondary" href="#booking-section">Descobreix més</a>
  </div>
  <div class="product-device box-shadow d-none d-md-block"></div>
  <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>

<div class="mb-5 d-none d-md-block mt-4">
  <main class="px-3 main-cover mx-auto my-auto">
      <h1>la Kultural</h1>
      <p class="lead">Since 2016.</p>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
      </p>
  </main>
</div>

<!-- Secció "Booking" -->
<div id="booking-section" class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h1 class="display-5">Booking</h1>
      <p class="lead">
        <strong>Descobreix els nostres artistes i crea l’esdeveniment perfecte.</strong><br>
        A La Kultural, promovem artistes de música electrònica que destaquen pel seu talent 
        i per oferir experiències úniques. Si busques música underground amb vinils o sessions 
        amb taula de mescles, tenim els artistes ideals per fer que el teu esdeveniment 
        sigui inoblidable.
      </p>
    </div>
    <a class="btn btn-outline-secondary" href="#booking-section">Descobreix més</a>
  </div>

  <!-- Secció "Canciones" -->
  <div id="canciones-section" class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h1 class="display-5">Música</h1>
      <p class="lead">
        <strong>La música que dona vida a La Kultural</strong><br>
        Els membres de La Kultural són més que artistes; són creadors que plasmen 
        l’esperit de la música underground a través de les seves produccions. 
        El nostre estil predominant és el <em>Drum and Bass</em>, tot i que 
        també explorem altres subgèneres de la música electrònica.
      </p>
    </div>
    <a class="btn btn-outline-secondary" href="#canciones-section">Descobreix més</a>
  
  </div>
</div>

<!-- Secció "Events" -->
<div id="events-section" class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h1 class="display-5">Esdeveniments</h1>
      <p class="lead">
        Vols gaudir d’actuacions en viu, festes temàtiques o festivals a gran escala?<br>
        A La Kultural organitzem i promocionem esdeveniments que donen protagonisme 
        a la música electrònica underground i a artistes amb molt de talent.
      </p>
    </div>
    <a class="btn btn-outline-secondary" href="#events-section">Descobreix més</a>
  </div>
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h1 class="display-5">Contacte</h1>
      <p class="lead">
        Tens dubtes o vols col·laborar? Escriu-nos i fes possible la teva idea!
      </p>
    </div>
    <a class="btn btn-outline-secondary" href="#events-section">Contacta'ns</a>
  </div>
</div>
{% endblock %}