{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="hero-section">
  <video autoplay loop muted playsinline>
    <source src="{% static 'assets/videos/video_home.mp4' %}" type="video/mp4">
  </video>

  <div class="hero-overlay">
    <img src="{% static 'assets/img/kultural_grafiti.png' %}" alt="La Kultural" class="img-fluid grafiti-logo">
    <a href="#booking-section">
      <img src="{% static 'assets/img/icons/mas_info_icon.png' %}" alt="mas_info" class="icono-portada mx-auto my-3">
    </a>
  </div>
</div>

<div class="container py-5">
  <section class="content fluid">
    <h2><span aria-hidden="true">you can&nbsp;</span>
      <span class="sr-only">you can ship things.</span>
    </h2>
    <ul aria-hidden="true" style="--count: 22">
      <li style="--i: 0">design.</li>
      <li style="--i: 1">prototype.</li>
      <li style="--i: 2">solve.</li>
      <li style="--i: 3">build.</li>
      <li style="--i: 4">develop.</li>
      <li style="--i: 5">debug.</li>
      <li style="--i: 6">learn.</li>
      <li style="--i: 7">cook.</li>
      <li style="--i: 8">ship.</li>
      <li style="--i: 9">prompt.</li>
      <li style="--i: 10">collaborate.</li>
      <li style="--i: 11">create.</li>
      <li style="--i: 12">inspire.</li>
      <li style="--i: 13">follow.</li>
      <li style="--i: 14">innovate.</li>
      <li style="--i: 15">test.</li>
      <li style="--i: 16">optimize.</li>
      <li style="--i: 17">teach.</li>
      <li style="--i: 18">visualize.</li>
      <li style="--i: 19">transform.</li>
      <li style="--i: 20">scale.</li>
      <li style="--i: 21">do it.</li>
    </ul>
  </section>
  <section>
    <h2 class="fluid">fin.</h2>
  </section>
</div>

<div class="container py-5">
  <div class="row justify-content-center g-4">

    <!-- Artistas -->
    <div class="col-md-5 col-lg-4">
      <div class="card card-custom shadow h-100 custombg1">
        <div class="card-body text-center d-flex flex-column">
          <img src="{% static 'assets/img/icons/artistas_icon.png' %}" alt="Artistas" class="icono mx-auto my-3">
          <p class="card-text flex-grow-1 text-justify">
            Descobreix artistes únics que fan de cada esdeveniment una experiència especial.
          </p>
          <a href="{% url 'booking:booking' %}" class="btn btn-dark btn-custom-bg mt-auto">Descobreix els artistes</a>
        </div>
      </div>
    </div>

    <!-- Música -->
    <div class="col-md-5 col-lg-4">
      <div class="card card-custom shadow h-100 custombg2">
        <div class="card-body text-center d-flex flex-column">
          <img src="{% static 'assets/img/icons/musica_icon.png' %}" alt="Música" class="icono mx-auto my-3">
          <p class="card-text flex-grow-1 text-justify">
            Descobreix nova música underground amb els nostres artistes de Drum and Bass i més.
          </p>
          <a href="{% url 'musica:musica' %}" class="btn btn-dark btn-custom-bg mt-auto">Escolta nova música</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center g-4 mt-4">

    <!-- Eventos -->
    <div class="col-md-5 col-lg-4">
      <div class="card card-custom shadow h-100 custombg3">
        <div class="card-body text-center d-flex flex-column">
          <img src="{% static 'assets/img/icons/eventos_icon.png' %}" alt="Esdeveniments" class="icono mx-auto my-3">
          <p class="card-text flex-grow-1 text-justify">
            Concerts, festes temàtiques i festivals que no et pots perdre.
          </p>
          <a href="{% url 'eventos:eventos' %}" class="btn btn-dark btn-custom-bg mt-auto">Esdeveniments pròxims</a>
        </div>
      </div>
    </div>

    <!-- Tienda -->
    <div class="col-md-5 col-lg-4">
      <div class="card card-custom shadow h-100 custombg4">
        <div class="card-body text-center d-flex flex-column">
          <img src="{% static 'assets/img/icons/tienda_icon.png' %}" alt="Tienda" class="icono mx-auto my-3">
          <p class="card-text flex-grow-1 text-justify">
            Productes únics per als amants de la música electrònica alternativa.
          </p>
          <a href="#contact-section" class="btn btn-dark btn-custom-bg mt-auto">Veure productes</a>
        </div>
      </div>
    </div>

  </div>

</div>

{% endblock %}