/* ---------------- */
/*     HOME       */
/* ---------------- */
.home-contenido {
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .home-contenido:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  }
  
  .icono {
    opacity: 0.85;
  }
  
  .icono:hover {
    opacity: 1;
  }
  
  
  /* Estilos para la sección del hero con video */
  .hero-section {
    position: relative;
    width: 100%;
    height: 100vh; /* pantalla completa vertical */
    overflow: hidden;
  }
  
  .hero-section video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover; /* asegura cobertura total y centrado */
    z-index: 1;
  }
  
  .hero-overlay {
    position: absolute; /* CAMBIO AQUÍ: de relative a absolute */
    top: 0;
    left: 0;
    z-index: 2; /* contenido sobre el video */
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6); /* opcional para mejorar visibilidad */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 15px;
  }
  
  
  .grafiti-logo {
    max-width: 35%;
    height: auto;
    margin-bottom: 20px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
    position: relative; 
    z-index: 3; /* IMPORTANTE: asegurar que esté delante */
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  
  .card-custom {
    border-radius: 15px;
    background-color: #222831; /* Color oscuro elegante */
    color: #ffffff;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card-custom:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.4);
  }
  
  .icono {
    max-width: 50%;
    height: auto;
    opacity: 0.9;
  }
  
  .icono-portada {
    max-width: 30%;
    height: auto;
    opacity: 0.9;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
  }
  
  .icono-portada:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
    /* Cambia el color de la sombra según el hover */
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.7));
  }
  
  .icono:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
    /* Cambia el color de la sombra según el hover */
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.7));
    opacity: 1;
  }
  
  .card-title {
    color: #48F783; /* Amarillo/verde para título */
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .kultural-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #42FCC0; /* un verde/aguamarina neón */
    text-shadow: 
      0 0 5px #31bb8f,
      0 0 10px #27725a,
      0 0 20px #1a966e;
  }
  /* Colores de los textos */
  /* Color1: #48F783 */
  /* Color2: #309FA0 */
  /* Color3: #42FCC0 */
  /* Color4: #42FC42 */
  /* Color5: #42BEFC */
  
  
  .card-button {
    background-color: #309fa0; /* Color fucsia neón */
    color: #000; /* Color del texto */
    border-radius: 5px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .card-text {
    font-size: 0.95rem;
    opacity: 0.9;
  }
  
  .btn-custom-bg {
    background-image: url("../img/buton_bg_droplets.png");
    background-size: cover;
    color: #ffffff;
    border: none;
  }
  
  .text-justify {
    text-align: justify;
  }
  
  
  @media (max-width: 768px) {
    .grafiti-logo {
      max-width: 75%;
    }
  }
  
  @media (min-width: 769px) {
    .grafiti-logo {
      margin-top: 80px; /* separación del header fijo */
    }
  }
  
  @media (max-width: 768px) {
    .card-custom {
      margin-bottom: 20px;
    }
  }
  /* ---------------- */